1) implement algorithm
2) gather 30+ unique units of test data
3) Everyone needs a poster for their section
4) Get golf shirts embroidered
5) Find out about bicycle
6) Extension chord
7) Computer with 3 screens
8) PowerBy graphs


